body {
    background-color: lightgray;
}
button {
    display: flex;
    padding: 15px;
    margin-top: 15px;
    vertical-align: top;
    background-color: lightblue;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    

}


#start {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#quiz {
    display: none;
    border: dashed;
    padding: 15px;
}
#solution {
    display: none;
}
#clock {
    text-align: center;
}
#gameOver {
    display: none;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
#scoreContainer {
    display: none;
    border: dashed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}
#scoreTitle {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
#scoreInitials {
    display: inline-block;
    margin: 10px;
}
#finalScore {
    float: right;
    margin: 10px;
}